I query the data in the redshift and here is my query and result.

In [1]:
%load_ext sql

In [5]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

DWH_ENDPOINT= config.get("CLUSTER","HOST")
DWH_DB_USER= config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD= config.get("CLUSTER","DB_PASSWORD")
DWH_DB_PORT= config.get("CLUSTER","DB_PORT")
DWH_DB_NAME= config.get("CLUSTER","DB_NAME")

DWH_ROLE_ARN=config.get("IAM_ROLE", "ARN")

LOG_DATA = config.get("S3", "LOG_DATA")
LOG_JSONPATH = config.get("S3", "LOG_JSONPATH")
SONG_DATA = config.get("S3", "SONG_DATA")

KEY =config.get('AWS','KEY')
SECRET = config.get('AWS','SECRET')
REGION_NAME = config.get('AWS', 'REGION_NAME')

In [6]:
import boto3

s3 = boto3.resource('s3',
                       region_name=REGION_NAME,
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                     )

sampleDbBucket =  s3.Bucket("udacity-dend")

for obj in sampleDbBucket.objects.filter(Prefix="log_data"):
    print(obj)

s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-05-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-06-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-07-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-08-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-09-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-10-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-11-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-12-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-13-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-14-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-15-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-16-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-17-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-18-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-19-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-20-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-21-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-22-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-23-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-24-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-25-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-26-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-27-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-28-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-29-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-30-events.json')

In [7]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_DB_PORT, DWH_DB_NAME)
%sql $conn_string

'Connected: awsuser@dev'

In [8]:
%sql SELECT DISTINCT tablename FROM pg_table_def WHERE schemaname = 'public';

 * postgresql://awsuser:***@redshift-cluster-1.cyxdumilo6ig.us-east-1.redshift.amazonaws.com:5439/dev
15 rows affected.

[('artist',),
 ('category',),
 ('date',),
 ('event',),
 ('listing',),
 ('sales',),
 ('song',),
 ('songplay',),
 ('staging_events',),
 ('staging_songs',),
 ('stations',),
 ('time',),
 ('trips',),
 ('users',),
 ('venue',)]

In [11]:
%sql SELECT * FROM staging_events LIMIT 5

 * postgresql://awsuser:***@redshift-cluster-1.cyxdumilo6ig.us-east-1.redshift.amazonaws.com:5439/dev
5 rows affected.

[(None, 'Logged In', 'Walter', 'M', 0, 'Frye', None, 'free', 'San Francisco-Oakland-Hayward, CA', 'GET', 'Home', '1540919166796', 38, None, '200', 1541105830796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 39),
 ("Des'ree", 'Logged In', 'Kaylee', 'F', 1, 'Summers', 246.30812, 'free', 'Phoenix-Mesa-Scottsdale, AZ', 'PUT', 'NextSong', '1540344794796', 139, 'You Gotta Be', '200', 1541106106796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 8),
 ('Mr Oizo', 'Logged In', 'Kaylee', 'F', 3, 'Summers', 144.03873, 'free', 'Phoenix-Mesa-Scottsdale, AZ', 'PUT', 'NextSong', '1540344794796', 139, 'Flat 55', '200', 1541106352796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 8),
 ('The Mars Volta', 'Logged In', 'Kaylee', 'F', 5, 'Summers', 380.42077, 'free', 'Phoenix-Mesa-Scottsdale, AZ', 'PUT', 'NextSong', '1540344794796', 139, 'Eriatarka', '200', 1541106673796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 8),
 ('Blue October / Imogen Heap', 'Logged In', 'Kaylee', 'F', 7, 'Summers', 241.3971, 'free', 'Phoenix-Mesa-Scottsdale, AZ', 'PUT', 'NextSong', '1540344794796', 139, 'Congratulations', '200', 1541107493796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 8)]

In [12]:
%sql SELECT * FROM staging_songs LIMIT 5

 * postgresql://awsuser:***@redshift-cluster-1.cyxdumilo6ig.us-east-1.redshift.amazonaws.com:5439/dev
5 rows affected.

[(1, 'ARJNIUY12298900C91', None, None, '', 'Adelitas Way', 'SOBLFFE12AF72AA5BA', 'Scream', 213.9424, 2009),
 (1, 'ARSVTNL1187B992A91', 51.50632, -0.12714, 'London, England', 'Jonathan King', 'SOEKAZG12AB018837E', "I'll Slap Your Face (Entertainment USA Theme)", 129.85424, 2001),
 (1, 'ARXR32B1187FB57099', None, None, '', 'Gob', 'SOFSOCN12A8C143F5D', 'Face the Ashes', 209.60608, 2007),
 (1, 'ARZ5H0P1187B98A1DD', 33.76672, -118.1924, 'Long Beach, CA', 'Snoop Dogg', 'SOAPERH12A58A787DC', 'The One And Only (Edited)', 230.42567, 0),
 (1, 'AR1KTV21187B9ACD72', 34.05349, -118.24532, 'California - LA', 'Cristina', 'SOSMJFC12A8C13DE0C', 'Is That All There Is?', 343.87546, 0)]

In [14]:
%sql SELECT * FROM songplay LIMIT 5

 * postgresql://awsuser:***@redshift-cluster-1.cyxdumilo6ig.us-east-1.redshift.amazonaws.com:5439/dev
5 rows affected.

[(2, datetime.datetime(2018, 11, 3, 18, 19, 10), 95, 'paid', 'SOPANEB12A8C13E81E', 'ARSW5F51187FB4CFC9', 152, 'Winston-Salem, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"'),
 (6, datetime.datetime(2018, 11, 5, 2, 9, 47), 44, 'paid', 'SOUNZHU12A8AE47481', 'AR37SX11187FB3E164', 237, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (10, datetime.datetime(2018, 11, 5, 11, 8, 56), 95, 'paid', 'SOQYHVZ12A6D4F93CF', 'ARRZUPG11F43A69EF7', 222, 'Winston-Salem, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"'),
 (14, datetime.datetime(2018, 11, 5, 14, 24, 56), 44, 'paid', 'SOTETAR12AF72A5FF7', 'AROR8OB1187FB50D6A', 269, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (18, datetime.datetime(2018, 11, 5, 17, 54, 12), 25, 'paid', 'SOKOGIP12AB0182FCD', 'AROS1ML1187FB4CF35', 231, 'Marinette, WI-MI', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')]

In [15]:
%sql SELECT * FROM artist LIMIT 5

 * postgresql://awsuser:***@redshift-cluster-1.cyxdumilo6ig.us-east-1.redshift.amazonaws.com:5439/dev
5 rows affected.

[('ARMJAGH1187FB546F3', 'The Box Tops', 'Memphis, TN', 35.14968, -90.04892),
 ('ARCLYBR1187FB53913', 'Neal Schon', 'San Mateo, CA', 37.54703, -122.31483),
 ('AR10USD1187B99F3F1', 'Tweeterfriendly Music', 'Burlington, Ontario, Canada', None, None),
 ('ARCZBX11187B9AD089', 'Suicide Commando', '', None, None),
 ('ARWCIEL1187FB42EF5', 'Beach House', 'B-More', 39.29055, -76.6096)]

In [17]:
%sql SELECT * FROM time LIMIT 5

 * postgresql://awsuser:***@redshift-cluster-1.cyxdumilo6ig.us-east-1.redshift.amazonaws.com:5439/dev
5 rows affected.

[(datetime.datetime(2018, 11, 5, 2, 9, 47), 2, 5, 45, 11, 2018, 1),
 (datetime.datetime(2018, 11, 5, 14, 24, 56), 14, 5, 45, 11, 2018, 1),
 (datetime.datetime(2018, 11, 9, 19, 57, 57), 19, 9, 45, 11, 2018, 5),
 (datetime.datetime(2018, 11, 15, 21, 59, 51), 21, 15, 46, 11, 2018, 4),
 (datetime.datetime(2018, 11, 20, 1, 24, 48), 1, 20, 47, 11, 2018, 2)]

In [19]:
%sql SELECT * FROM users LIMIT 5

 * postgresql://awsuser:***@redshift-cluster-1.cyxdumilo6ig.us-east-1.redshift.amazonaws.com:5439/dev
5 rows affected.

[(15, 'Lily', 'Koch', 'F', 'paid'),
 (66, 'Kevin', 'Arellano', 'M', 'free'),
 (49, 'Chloe', 'Cuevas', 'F', 'free'),
 (52, 'Theodore', 'Smith', 'M', 'free'),
 (32, 'Lily', 'Burns', 'F', 'free')]

In [21]:
%sql SELECT * FROM song LIMIT 5

 * postgresql://awsuser:***@redshift-cluster-1.cyxdumilo6ig.us-east-1.redshift.amazonaws.com:5439/dev
5 rows affected.

[('SOOVHYF12A8C134892', "I'll Be Waiting", 'ARCLYBR1187FB53913', 1989, 304.56118),
 ('SOHOZBI12A8C132E3C', 'Smash It Up', 'AR0MWD61187B9B2B12', 2000, 195.39546),
 ('SOWBWRV12A6D4FB3D0', 'I Know You', 'AR1LOGZ1187B990FB4', 0, 307.46077),
 ('SODVVEL12A6D4F9EA0', 'Good Old Wagon (LP Version)', 'ARI9DQS1187B995625', 1964, 139.78077),
 ('SORUZFR12AB01866C1', 'Hypnotic Trance', 'ARZJDBC1187FB52056', 1987, 280.37179)]